* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: url('../img/utility/pointer.svg'), auto;
    color: currentColor;
}

.btn,
button {
    cursor: url('../img/utility/pointer.svg'), auto;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style-type: none;

}